<ion-content class="ion-padding">
  <div class="home-container">
    <ion-img 
      src="https://see.fontimg.com/api/renderfont4/WppKO/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjNTg1ODU4IiwiYmdjIjoiIzAwMDAwMCIsInQiOjF9/TGl0TG9vbQ/abocat.png" 
      alt="App Name" 
      class="app-name-image"
    ></ion-img>
    <ion-icon name="book" class="animated-icon"></ion-icon>
    <p class="intro-text">Unlock Your Mind By Reading</p>
    <ion-spinner name="crescent" class="loading-spinner"></ion-spinner>
  </div>
</ion-content>
